<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={{ asset('css/accueil.css') }}>
    <link rel="stylesheet" 
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
            integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
            crossorigin="anonymous" 
            referrerpolicy="no-referrer" />
</head>

{% block body %}

<body>
    <img class="main-bg" src={{asset('images/accueil/accueil-bg.jpg')}} alt="">
    <main class="main-container">
        <header class="main-header">
            <a class="bg-link" href="home/index.html.twig">PCLabs</a>
            <a class="bg-link" href="">Accueil</a>
            <a class="link" href="">Jeux</a>
            <a class="link" href="">Hardware</a>
            <a class="link" href="">Forum</a>
        </header>
        <div class="pclabs-container">
            <div class="pclabs">
                <h1>PCLabs</h1>
                <p class="pclabs-text">
                    PCLabs est un site en phase de développement. Il est créé dans le but de réunir toute la tech
                    en une seule et unique plateforme.
                    Chaque jour, un peu plus de contenu y est ajouté pour vous fournir la meilleure expérience
                    utilisateur.
                </p>
                <p class="pclabs-text">Du composant jusqu'au vidéo en passant par la téléphonie, toute les dernières
                    nouveautés, les tops mois,
                    tout est à porté de main.
                </p>
            </div>
            <div class="immersive">
                <h2>Vivez une expérience inédite</h2>
                <p>PCLabs est un site moderne, répondant à des besoin exigents. Le plus important est le confort pour
                    les utilisateurs</p>
            </div>
            <div class="arrow-icons">
                <div class="arrows">
                    <i class="fa-solid fa-arrow-down"></i>
                    <i class="fa-solid fa-arrow-down"></i>
                    <i class="fa-solid fa-arrow-down"></i>
                    <i class="fa-solid fa-arrow-down"></i>
                    <i class="fa-solid fa-arrow-down"></i>
                </div>
                <p>Découvrez PCLabs</p>
            </div>
        </div>
        <wrapper class="news-container">
            <div class="news">
                <img class="news-img" src={{asset('images/accueil/9000D.jpg')}} alt="">
                <span class="description">
                    <h3>Corsair 9000D</h3>
                    <h4>Date de sortie : 7 Juin 2024</h4>
                    <p>Le Corsair 9000D est un boitier aux dimensions proprement gigantesque. Il peux accueillir des
                        cartes
                        mères jusqu'au
                        format SSI-EBB ( 305mmx330mm ). 21 emplacements pour ventilateur 120mm sont également
                        disponible. Il
                        est actuellement disponible pour 570€
                    </p>
                </span>
            </div>
            <div class="news">
                <img class="news-img" src={{asset('images/accueil/fc25.avif')}} alt="">
                <span class="description">
                    <h3>EA FC25</h3>
                    <h4>Date de sortie : 27 Septembre 2024</h4>
                    <p>EA FC25 est le dernier jeu de football sorti.
                        Il est le second opus à ne plus porter le nom de FIFA, le partenariat s'étent arrété.
                    </p>
                </span>
            </div>
            <div class="news">
                <img class="news-img" src={{asset('images/accueil/lgg4.jpg')}} alt="">
                <span class="description">
                    <h3>LG G4 Series</h3>
                    <h4>Date de sortie : Mars 2024</h4>
                    <p>Les Téléviseur LG G4 sont disponible en plusieurs taille : du 55 pouce jusqu'au 83 pouces.
                        Cette série intègre les fameuse dalles OLED Evo, ainsi qu'une possibilité inédite pour les
                        gameur :
                        Un taux de rafraichissement de 144hz, que l'on à déjà vu sur un téléviseur TCL.
                    </p>
                </span>
            </div>
            <div class="news">
                <img class="news-img" src="images/9000D.jpg" alt="">
                <span class="description">
                    <h3>Corsair 9000D</h3>
                    <h4>Date de sortie : 7 Juin 2024</h4>
                    <p>Le Corsair 9000D est un boitier aux dimensions proprement gigantesque. Il peux accueillir des
                        cartes
                        mères jusqu'au
                        format SSI-EBB ( 305mmx330mm ). 21 emplacements pour ventilateur 120mm sont également
                        disponible. Il
                        est actuellement disponible pour 570€
                    </p>
                </span>
            </div>
            <div class="news">
                <img class="news-img" src="images/9000D.jpg" alt="">
                <span class="description">
                    <h3>Corsair 9000D</h3>
                    <h4>Date de sortie : 7 Juin 2024</h4>
                    <p>Le Corsair 9000D est un boitier aux dimensions proprement gigantesque. Il peux accueillir des
                        cartes
                        mères jusqu'au
                        format SSI-EBB ( 305mmx330mm ). 21 emplacements pour ventilateur 120mm sont également
                        disponible. Il
                        est actuellement disponible pour 570€
                    </p>
                </span>
            </div>
            <div class="news">
                <img class="news-img" src="images/9000D.jpg" alt="">
                <span class="description">
                    <h3>Corsair 9000D</h3>
                    <h4>Date de sortie : 7 Juin 2024</h4>
                    <p>Le Corsair 9000D est un boitier aux dimensions proprement gigantesque. Il peux accueillir des
                        cartes
                        mères jusqu'au
                        format SSI-EBB ( 305mmx330mm ). 21 emplacements pour ventilateur 120mm sont également
                        disponible. Il
                        est actuellement disponible pour 570€
                    </p>
                </span>
            </div>
            <div class="news">
                <img class="news-img" src="images/9000D.jpg" alt="">
                <span class="description">
                    <h3>Corsair 9000D</h3>
                    <h4>Date de sortie : 7 Juin 2024</h4>
                    <p>Le Corsair 9000D est un boitier aux dimensions proprement gigantesque. Il peux accueillir des
                        cartes
                        mères jusqu'au
                        format SSI-EBB ( 305mmx330mm ). 21 emplacements pour ventilateur 120mm sont également
                        disponible. Il
                        est actuellement disponible pour 570€
                    </p>
                </span>
            </div>
            <div class="news">
                <img class="news-img" src="images/9000D.jpg" alt="">
                <span class="description">
                    <h3>Corsair 9000D</h3>
                    <h4>Date de sortie : 7 Juin 2024</h4>
                    <p>Le Corsair 9000D est un boitier aux dimensions proprement gigantesque. Il peux accueillir des
                        cartes
                        mères jusqu'au
                        format SSI-EBB ( 305mmx330mm ). 21 emplacements pour ventilateur 120mm sont également
                        disponible. Il
                        est actuellement disponible pour 570€
                    </p>
                </span>
            </div>
            <div class="news">
                <img class="news-img" src="images/9000D.jpg" alt="">
                <span class="description">
                    <h3>Corsair 9000D</h3>
                    <h4>Date de sortie : 7 Juin 2024</h4>
                    <p>Le Corsair 9000D est un boitier aux dimensions proprement gigantesque. Il peux accueillir des
                        cartes
                        mères jusqu'au
                        format SSI-EBB ( 305mmx330mm ). 21 emplacements pour ventilateur 120mm sont également
                        disponible. Il
                        est actuellement disponible pour 570€
                    </p>
                </span>
            </div>
            <div class="news">
                <img class="news-img" src="images/9000D.jpg" alt="">
                <span class="description">
                    <h3>Corsair 9000D</h3>
                    <h4>Date de sortie : 7 Juin 2024</h4>
                    <p>Le Corsair 9000D est un boitier aux dimensions proprement gigantesque. Il peux accueillir des
                        cartes
                        mères jusqu'au
                        format SSI-EBB ( 305mmx330mm ). 21 emplacements pour ventilateur 120mm sont également
                        disponible. Il
                        est actuellement disponible pour 570€
                    </p>
                </span>
            </div>
            <div class="news">
                <img class="news-img" src="images/9000D.jpg" alt="">
                <span class="description">
                    <h3>Corsair 9000D</h3>
                    <h4>Date de sortie : 7 Juin 2024</h4>
                    <p>Le Corsair 9000D est un boitier aux dimensions proprement gigantesque. Il peux accueillir des
                        cartes
                        mères jusqu'au
                        format SSI-EBB ( 305mmx330mm ). 21 emplacements pour ventilateur 120mm sont également
                        disponible. Il
                        est actuellement disponible pour 570€
                    </p>
                </span>
            </div>
            <div class="news">
                <img class="news-img" src="images/9000D.jpg" alt="">
                <span class="description">
                    <h3>Corsair 9000D</h3>
                    <h4>Date de sortie : 7 Juin 2024</h4>
                    <p>Le Corsair 9000D est un boitier aux dimensions proprement gigantesque. Il peux accueillir des
                        cartes
                        mères jusqu'au
                        format SSI-EBB ( 305mmx330mm ). 21 emplacements pour ventilateur 120mm sont également
                        disponible. Il
                        est actuellement disponible pour 570€
                    </p>
                </span>
            </div>
        </wrapper>
    </main>
</body>

{% endblock %}
</html>
